h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.pRed {
  color: red;
}

.pBlue {
  color: blue;
}

.pGreen {
  color: green;
}

.pBig {
  font-size: 3em
}

.pTiny {
  font-size: 0.5em
}

.pCenter {
  text-align: center;
}

.pBold {
  font-weight: bold
}

.pFont {
  font-family: "Times New Roman", Times, serif
}

.pMultipleAttributes {
  font-weight: bold;
  color: orange;
  font-size: 1.75em;
}

.styledFont {
  font-style: italic;
  font-weight: bolder;
}

#styledImage {
  padding:1px;
  border:1px solid #021a40;
  background-color:#ff0;
}
